header {
    border:3px solid rgba(6,25,189,1);
    width: 1880px;
    height: 150px;
    background-color:#00057A;
    text-align: center;
}

.header_img {
    display: inline-block;
}


body{
    background-image: url("img_folder/gem_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;

}


.game_title {
    font-size: 80px;
    font-family: Copperplate, Arial, sans-serif;
    display: inline-block;
    margin: 20px;
    color: rgba(255,240,254,1)
}

.game_grid_container {
    width:1370px;
    height:1400px;
    display: inline-block;
    float:left;
    background-color:rgba(1,4,27,1);
}

.pieces {
    width:12.5%;
    height:12.5%;
    display: inline-block;
}

.stats_bar {
    width: 250px;
    height: 1400px;
    display: inline-block;
    border: 2px solid;
    float: left;
    background-color:rgba(1,4,27,1);
}

p  {
    margin: 0px;
}

.game_stats, .game_round ,.game_points, .game_reset {
    width: 95%;
    height: 24%;
    border: 5px solid rgba(23,9,189,1);
    font-family: Copperplate, Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin:2px;
    background-color: #D3EAFF;
}

.timer_column {
    width: 250px ;
    height: 1400px;
    display: inline-block;
    float: left;
    background-color:rgba(1,4,27,1);

}

.game_area {
    text-align: justify;
    width: 1900px;
    height: 1400px;
    border-radius: 20px;
    background-color:rgba(1,4,27,1);

}

.timer_container , .normal_time_bar_container{
    height:1300px;
    width: 230px;
    position: absolute;
}

.normal_timer, .normal_time_bar_2 {
    height:1300px;
    width: 230px;
    position: relative;
    top: 0;
    left: 0;
    margin: 15% 5%;
}


.normal_time_bar_2{
    animation: mymove 10s infinite;
    border-radius: 100px;
}

.game_reset_button {
    background: url("img_folder/reset_button.png");
    width: 171px;
    height: 172px;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px;
    white-space: nowrap;
    text-indent: 23px;
    font-weight: bold;
}


@keyframes mymove {
    0% {background-color: red;}
    25% {background-color: orange;}
    70% {background-color: green;}
    100% {background-color: blue;}
    0% {transform: scaleY(0)}
    25% {transform: scaleY(0.25)}
    50% {transform: scaleY(0.7)}
    100% {transform: scaleY(1)}
}

/*TILE STYLE YO*/

div[tile] {
    display: inline-block;
}

div[tile="compass_tile"]{
    background: url("img_folder/compass_tile.png");
    background-size: contain;
    display: inline-block;
    width: 12%;
    height: 12%;
    background-repeat: no-repeat;
}

div[tile="flower_tile"]{
    background: url("img_folder/flower_tile.png");
    background-size: contain;
    width: 12%;
    height: 12%;
    display: inline-block;
    background-repeat: no-repeat;
}

div[tile="pentagon_tile"]{
    background: url("img_folder/pentagon_tile.png");
    background-size: contain;
    width: 12%;
    height: 12%;
    display: inline-block;
    background-repeat: no-repeat;
}
div[tile="pinkx_tile"]{
    background: url("img_folder/pinkx_tile.png");
    background-size: contain;
    width: 12%;
    height: 12%;
    display: inline-block;
    background-repeat: no-repeat;
}

div[tile="quilt_tile"]{
    background: url("img_folder/quilt_tile.png");
    background-size: contain;
    width: 12%;
    height: 12%;
    display: inline-block;
    background-repeat: no-repeat;
}

div[tile="redviolet_tile"]{
    background: url("img_folder/redviolet_tile.png");
    background-size: contain;
    width: 12%;
    height: 12%;
    display: inline-block;
    background-repeat: no-repeat;
}

div[tile="sapphire_tile"]{
    background: url("img_folder/sapphire_tile.png");
    background-size: contain;
    width: 12%;
    height: 12%;
    display: inline-block;
    background-repeat: no-repeat;
}

div[tile="star_tile"]{
    background: url("img_folder/star_tile.png");
    background-size: contain;
    width: 12%;
    height: 12%;
    display: inline-block;
    background-repeat: no-repeat;

}

div[tile="yellow_tile"]{
    background: url("img_folder/yellow_tile.png");
    background-size: contain;
    display: inline-block;
    width: 12%;
    height: 12%;
    background-repeat: no-repeat;

}


